.Search-results {
    flex: 1;
    text-align: left;
}

.Search-results h2 {
    font-weight: bold;
    font-size: 1.5em;
    background-color: transparent;
    box-sizing: border-box;
    display: block;
    margin: 0.25em 0;
    padding: 0.15em 0.25em;
    border: 2px solid transparent;
}