.User-badge {
    font-size: 0.65em;
    font-weight: 600;
    padding: 0.1em 0.5em 0.15em 0.1em;
    position: absolute;
    top: 0.45em;
    right: 2em;
    min-width: 8em;
    min-height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    border: 1px solid white;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 2em;
}

.User-badge:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.25);
}

.User-badge img {
    width: 2em;
    border-radius: 2em;
}

.black {
    background-color: hsla(0, 0%, 0%, 0.3);
}

#Login {
    font-weight: 700;
    justify-content: center;
}