.Playlists-cell {
    display: flex;
}

.Playlists-cell:hover {
    border: 1px solid white;
    cursor: pointer;
}

.Playlists-cell h3 {
    margin: 0 5px;
    align-self: center;
}

.Playlists-cell img {
    width: 60px;
    vertical-align: middle;
    margin: 5px;
    border: 1px solid gray;
}