#Search-field {
    font-size: 1.2em;
    margin: 1em 0;
    min-width: 25%;
    padding: 8px 14px;
    box-sizing: content-box;
    border-radius: 20px 0 0 20px;
    border: 3px solid darkgray;
}

#Search-field:focus-visible, #Search-field:hover {
    border-color: #1DB954;
    outline: none;
}

#SearchButton {
    font-size: 1.2em;
    font-weight: bold;
    color: gray;
    position: relative;
    left: -1px;
    margin: 1rem 0;
    padding: 8px 16px 8px 10px;
    box-sizing: content-box;
    border-radius: 0 20px 20px 0;
    border: 3px solid darkgray;
}

#SearchButton:hover {
    border-color: #1DB954;
    color: black;
    cursor: pointer;
}